*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    max-width: 100%;
  }

  body {
    font-size: 62.5%;
    font-family: "Noto Serif", serif;
    background: #e4d6ec;
    color: #301833;
  }
 

  .topDiv {
    background: url('/assets/images/accordianbackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 17rem;
  }

  .mainDiv {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -6.435rem;
    background: white;
    padding: 2rem;
    padding-right: 0;
    width: 85%;
    height: 35rem;
    border-radius: 7px;
  }
  
  .firstSentence {
   margin-top: -1rem;
  }

  .starLogo {
    float: left;
    width: 2rem;
  }

  .questions {
    clear: right;
    margin-left: 2.5rem;
    font-size: 1.66rem;
    font-weight: 800;
  }

  .secondSentence {
    margin-bottom: 1.5rem;
  }

  .secondSentenceTitle {
    float: left;
    line-height: 1.135rem;
    width: 60%;
  }

  .minusLogo {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 0;
    clear: right;
    padding-right: 0;
  }

  .theOnlyParagraph {
    font-size: 0.764rem;
    width: 65%;
    line-height: 1.233rem;
  }

  .thirdSentence {
    margin-top: 2.657rem;
    margin-bottom: 1.857rem;
  }

  .questionTwo {
    float: left;
    width: 60%;
  }

  .firstSymbolLogo {
    clear: right;
    margin-left: 2rem;
    margin-top: 0.3rem;
    margin-right: 0;
    padding-right: 0;
  }

  .fourthSentenceQuestion {
    float: left;
    width: 60%;
  }

  .fourthSentence {
   margin-bottom: 2.857rem;
  }

  .secondSymbolLogo {
    clear: right;
    margin-left: 1.985rem;
    margin-top: 0.987rem;
    margin-right: 0;
    padding-right: 0;
  }

  .theLastQuestion {
    float: left;
    width: 60%;
  }

  .theLastLogo {
    clear: right;
    margin-left: 1.985rem;
    margin-top: 0.987rem;
    margin-right: 0;
    padding-right: 0;
  }

  .secondSentenceTitle, .questionTwo , .thirdSentence, .fourthSentence {
    line-height: 1.342rem;
  }




  